@tailwind base;
@tailwind components;
@tailwind utilities;

[data-collapsible="true"].bg-white + [data-collapsible="true"].bg-white,
[data-collapsible="true"].bg-slate-100
  + [data-collapsible="true"].bg-slate-100 {
  @apply pt-0 md:pt-0;
}

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Prata&family=Raleway:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply font-raleway;
  }

  main {
    @apply pt-20; /* Add padding for fixed header */
  }
}

@layer components {
  .navbar {
    @apply fixed w-full top-0 left-0 z-[99999] bg-white;
  }
  .nav-container {
    @apply h-20 bg-white border-b;
  }
  .toggle-menu {
    @apply absolute w-full bg-white transform transition-all duration-300;
  }
  .toggle-menu.closed {
    @apply -translate-y-full invisible;
  }
  .toggle-menu.open {
    @apply translate-y-0 visible;
  }
  .burger {
    @apply block absolute top-5 right-5 md:hidden;
  }
  .nav_links {
    @apply text-black font-normal text-2xl md:text-5xl leading-9 font-raleway transition-all duration-700;
  }
  .nav_links.active {
    @apply text-s_skin before:bg-s_skin;
  }
  .nav_links.active .line {
    @apply bg-s_skin w-20;
  }
  .line {
    @apply absolute w-0 h-[3px] top-1/2 -translate-y-1/2 left-full transition-all duration-700 group-hover:w-20 z-50;
  }
  .social-link {
    @apply text-s_black font-normal text-base md:text-xl leading-8 font-raleway relative transition-all duration-500;
  }
  .social-link .line {
    @apply h-0.5;
  }
  .tgt {
    @apply transition-all duration-1000 translate-x-full md:translate-x-0;
  }

  .pera {
    @apply text-sm leading-7 font-raleway font-normal text-s_pera max-lg:text-center;
  }

  .heading {
    @apply font-playfair text-3xl lg:text-5xl lg:leading-relaxed font-normal text-s_black relative max-lg:text-center;
  }
  .swiper-button-prev {
    left: 40px !important;
    width: auto !important;
    height: auto !important;
  }
  .swiper-button-next {
    left: 100px !important;
    width: auto !important;
    height: auto !important;
  }
  .img-box {
    @apply flex items-center justify-center w-full sm:aspect-square;
  }
  .team-sec .slider-img .slick-next {
    @apply right-[7%] left-auto lg:right-auto lg:left-[115%]  -bottom-12 lg:bottom-8;
  }
  .team-sec .slider-img .slick-prev {
    @apply left-[20%] lg:left-[105%]  -bottom-12 lg:bottom-8;
  }
}
